*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kaisei Tokumi',serif;
}

header{
    height: 10vh;
    width: 100vw;
    background-color: #F1F1F1;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

nav{
    width: 100%;
    align-items: center;
}
nav li{
    font-size: 20px;
    margin:auto;
}
.menu{
    display: flex;
    list-style: none;
    letter-spacing: 5px; 
}

.menu a{
    text-decoration: none;
    color: black;
}

main{
    background-color: #B17F7F ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 100vw;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
     align-items: center;
    height: 100%;
    align-content: center;
    justify-content: center;
}
.promo-text {
    color: white;
    padding: 40px;
    background-image: url('/ruta/a/tu/imagen.jpg'); /* Cambia esta ruta por la imagen que quieras usar */
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.promo-text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.promo-text ul {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
}
.form-container {
    background-color: #d1676396; /* Color violeta */
    padding: 40px;
    color: white;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}
.form-container h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.form-container span {
    font-weight: normal;
    font-size: 1rem;
}
footer{
    height: 10vh;
    width: 100vw;
    background-color: #F1F1F1;
    justify-items: center;
    justify-content: center;
    align-content: center;
    letter-spacing: 0.5px;
}